{{#if msgok}}
<div class="alert alert-success">{{msgok}}</div>
{{/if}}
{{#if msgerro}}
<div class="alert alert-danger">{{msgerro}}</div>
{{/if}}
<hr>
<button class="btn btn-success" onclick="window.location.href='{{link}}'">Voltar</button></a>
<br>