<div class="jumbotron">
    <img class="home" src="image/blogapp.png">
    <h1 class="display-4">Bem Vindo ao BlogApp</h1>
    <p class="lead">Este é um simples sistema para publicação de Postagens.</p>
    <br>
    <hr class="my-4">
    {{#if LOGADO}}
    <p>Bem vindo <b>{{USUARIOLOGADO}}</b> {{#if ADMIN}}(admin){{/if}}</p>
    <a class="btn btn-warning" href="/logout" role="button">Logout</a>
    {{else}}
    <p>Para criar Posts e/ou Categorias, por favor, faça o Login abaixo:</p>    
    <a class="btn btn-success" href="/login" role="button">Login</a>
    {{/if}}
</div>